<div class="container" data-ng-init="init()">
<br>

<div class="row">

<div class="col-md-5">

  <div class="row">

    <div class="col-md-7">
<audio id="player" crossorigin="anonymous" loop />

<div id="songs">
<label id="labelList">
<select id ="select"   ng-model="selectedTrack" ng-change="loadTrackList (selectedTrack)">
         <option id ="option"
    ng-repeat="track in tracks" 
    value="{{track}}" 
    title= '{{track.description}} 
    Singer : {{track.singer}}
    Album : {{track.album}}
    Type : {{track.type}}
    Released : {{track.dateOfTrack.substring(0, 10)}}'>
    {{track.trackName}}
    </option>

</select>
</label>
</div> 
</div> 


<div class="col-md-4">
&nbsp;<button class="btn btn-primary glyphicon glyphicon-play" id="play" style="cursor: pointer;" ng-click="play();" disabled=true></button>
<button class="btn btn-primary glyphicon glyphicon-pause" id="pause" style="cursor: pointer;" ng-click="pause();" disabled=true></button>
<button class="btn btn-primary glyphicon glyphicon-stop" id="stop" style="cursor: pointer;" ng-click="stop();"disabled=true></button>
</div>

</div> 

<br>
<div class="row">
<div class="col-md-2 col-md-offset-5">
<label for="gainSlider" class="label">Volume</label>
</div>
<div class="col-md-3">
<input class="range" type="range" min="0" max="1" step="0.01" value="1" id="gainSlider" ng-model="gain" ng-change="changeGain (gain , 0)" disabled=true/>
</div>
<div class="col-md-1">
<button id="mute" style="cursor: pointer;" ng-click="muteAll();" disabled=true/>
</div>
</div>

<br><br>

</div>


<div class="col-md-4" >

  <div class="progress progress-striped">
    <div class="progress-bar"></div>
  </div>
        <div id="pourcentage" class="pull-right" ></div>
<br><br>

</div>


<div class="col-md-1 col-md-offset-1" >

  <button id="upload" data-toggle="modal" href="./common/views/tracks/track-creation.html" data-target="#uploadPage" class="btn btn-primary glyphicon glyphicon-upload">&nbsp;Upload track</button>
      
      <div class="modal fade" id="uploadPage">
        <div class="modal-dialog">  
          <div class="modal-content"></div>  
        </div> 
      </div>

</div>


</div>


<div class="row">

<div class="col-md-2" ng-show="trackSelected">
<canvas id="myCanvas" width=250 height=200></canvas>
</div>
 

<div class="col-md-7" ng-show="trackSelected">
<div class="row"> <br><br><br><br> </div>
<div class="row" ng-show="trackSelected">

   <div class="row">

  <div class="col-md-offset-4 col-md-3">

  <label for="pannerSlider" class="label">Stereo</label>
  <input class="range" type="range" min="-1" max="1" step="0.1" value="0" id="pannerSlider" ng-model="panner" ng-change="changePanner (panner , 0)" />
  </div>

  <div class="col-md-3 col-md-offset-1">
  <button class="btn btn-primary" id="compressorButton" ng-click= "updateCompressor()" align="right">{{buttonCompressor}}</button>
  </div>
  </div>

<div class="row">

<div class="col-md-offset-4 col-md-4">
<div class="controls" >

    <div ng-repeat = "freq in frequencies">
  <div class="row">
  <div class="col-md-2"><label>{{freq}}</label></div>
 <div class="col-md-7"><input ng-attr-id="{{ 'freq_input' + $index }}" type="range" value="0" step="1" min="-30" max="30" ng-model="freq_value" ng-change = "changeFrequency (freq_value , 0 , $index)"></input></div>
    <div ng-attr-id="{{ 'freq0' + $index }}" class="col-md-3"><output>0 dB</br></output></div>
    </div> 
    </div> 

</div>
</div>
</div>

  

 <div class="row"> <div class="col-md-7 col-md-offset-4">

    <div ng-repeat = "impulse in impulses">
<div class="col-md-3"><label for="convolverSlider' + $index + '" style="font-size:10px" class="label">{{impulse}} <br> (Dry/Wet)</label>
<input class="range" type="range" min="0" max="1" step="0.1" value="0" ng-attr-id="{{ 'convolverSlider' + $index }}" ng-model="impulse_value" ng-change="changeImpulse ($index)" /></div>
    </div>
 </div> </div>



<br><br>
  </div>

</div>

<div class="col-md-2 col-md-offset-1" ng-show="trackSelected">
<canvas id="myCanvas2" width=250 height=200></canvas>
</div>

<br><br>

</div>
<br>

<div class = "row" id="tracks_list" ng-show="trackSelected" >
</div> 
<br><br>
 
 <div class="row" ng-show="trackSelected" >

<form class="form-horizontal col-md-4" name="savemixform" id="saveform">
  
  <div class="form-group">
    <legend class="pistetitle">Save your mix</legend>
  </div>
  
  <div class="row">
    <div class="form-group">
      <label for="mixName" class="col-md-4 control-label label" >Mix name : </label>
      <div class="col-md-8">
        <input type="text" class="form-control" id="mixName" placeholder="Mix name"  ng-model="mix.mixName" required >
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group">
      <label for="description" class="col-md-4 control-label label">Description : </label>
      <div class="col-md-8">
        <input type="textarea" class="form-control" id="description" placeholder="Description"  ng-model="mix.description" required >
      </div>
    </div>
  </div>
 
  <div class="form-group">
    <button id="savemix" type="submit" class="pull-right btn btn-primary glyphicon glyphicon-save" ng-click="saveNewMix();">&nbsp;Save&nbsp;</button>
  </div>
  
   </form>


   <div class = "col-md-offset-4 col-md-4"> 
  <ul>
  
      <li ng-repeat="mix in trackmixs">
        {{ mix.mixName }} ;  {{ mix.description }}  ; 
        <button id="mixdetails" type="submit" class="btn btn-primary" ng-click="">Load</button>
  
  <button class="btn btn-primary" data-toggle="modal" data-target="#f1">More</button>
  
  <div class="modal fade" id="f1">
    <div class="modal-dialog">
      <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title">Commentaires + ratings :</h4>
      </div>

        <div class="modal-body">
       Commentaire + ratings
        </div>

      <div class="modal-footer">
        <button class="btn btn-info" data-dismiss="modal">Annuler</button>
      </div>
      
      </div>
    </div>
  </div>
 <br> <br>
    </li>

</ul>
   </div>

</div>

</div>