<div class="container">
    <h2>Connect to the website</h2>
    <p>Please type your username and the password:</p>
    <form id="loginForm" novalidate="novalidate">
        <div class="form-group">
            <label for="username" class="control-label">Username</label>
            <input type="text" class="form-control" id="username" ng-model="user.username" value="" required="" title="Please enter you username" placeholder="Username">
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" class="form-control" id="password" ng-model="user.passwd" value="" required="" title="Please enter your password" placeholder="Password">
            <span class="help-block"></span>
        </div>
        <div id="loginErrorMsg" class="alert alert-error hide">Wrong username og password</div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="remember" id="remember"> Remember login
            </label>
            <p class="help-block">(if this is a private computer)</p>
        </div>
        <button type="submit" ng-click="login()" class="btn btn-success btn-block">Login</button>
        <!--<button type="submit" ng-click="login()" class="btn btn-success btn-block" data-toggle="modal" data-target=".target-modal">Login</button>
        <div class="modal fade target-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <h4>{{message}}</h4>
                    <button type="submit" class="btn btn-success btn-block" ng-click="goToTarget()">Ok</button>
                </div>
            </div>
        </div>-->
    </form>
</div>