<div class="container">
	<h2>User details</h2>
	<p>hello{{user._id}}</p>
	<form data-type='basic' id='node-form'>
<div class='progressive_profiler_0'>
<div class='row'>
<div class='form-group col-md-6'>
<label class='control-label' for='first_name'>User name:</label>
<input class='form-control' id='first_name' ng-model="user.username" type='text'>
</div>
<div class='form-group col-md-6'>
<label class='control-label' for='last_name'>Full name:</label>
<input class='form-control' id='last_name' ng-model='user.fullname' type='text'>
</div>
</div>
<div class='form-group'>
<label class='control-label' for='email'>Email:</label>
<input class='form-control' id='email' ng-model='user.mail' type='text'>
</div>
<div class='form-group'>
<label class='control-label' for='password'>Password:</label>
<input class='form-control' id='phone' ng-model='user.passwd' type='password'>
</div>
<div class='form-group'>
<input class='btn btn-primary' type='submit' value='Update' ng-click="updateUser(user._id)">
<input class='btn btn-info' type='submit' value='Cancel' ng-click="cancel()">
</div>
</form>


</div>