<div class="container">
	<h4>List Of Tracks</h4>
	<br>
	<ul class="list-group">
    	<li class="list-group-item" ng-repeat="track in tracks">
    	<p id="plist">
    		<em>
    		<strong>Name:</strong> {{track.trackName}}<br>
    		<strong>Singer:</strong> {{track.singer}}<br>
    		<strong>Album:</strong> {{track.album}}<br>
    		<strong>Description:</strong> {{track.description}}<br>
    		<strong>Date:</strong> {{track.dateOfTrack}}<br></em>
    	</p>
    	<a ng-click="editTrack(track._id)" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-edit"></span>edit</a>
				<a ng-click="deleteTrack(track._id)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span>delete</a></li>
    </ul>
    <a ng-click="createNewTrack()" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus"></span>New Track</a>
</div>